<div class="jumbotron">
  <div class="container">
    <h1>Blood Pressure</h1>
  </div>
</div>
<div class="container">
  <div ng-repeat="reading in readings | limitTo: readingLimit | reverse" ng-class="{'latest': $first}" class="alert alert-success" role="alert">
    <time>{{reading.date}}</time>
    <strong class="blood-pressure">
      <span class="systolic">{{reading.systolic}}</span>/<span class="diastolic">{{reading.diastolic}}</span>
      <span ng-click="removeItem(reading)" class="glyphicon glyphicon-remove"></span>
    </strong>
  </div>
</div>
</div>