<div class="jumbotron">
  <div class="container">
    <h1>Blood Pressure</h1>
  </div>
</div>
<div class="container">
  <div ng-repeat="reading in vm.readings | limitTo: vm.readingLimit | orderBy: '-_id'" ng-class="{'latest': $first}" class="alert alert-success" role="alert">
    <strong class="blood-pressure">
      <span class="systolic">{{reading.systolic}}</span>/<span class="diastolic">{{reading.diastolic}}</span>
    </strong>
    <time>{{reading.date}} {{reading.time}}</time>
    <span ng-click="vm.removeItem(reading)" class="glyphicon glyphicon-remove delete"></span>
  </div>
</div>