@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'variables.scss';
@import 'datepicker.scss';

body {
  background-color: $body-bg;
}

.latest {
  font-size: 250%;
}

.delete {
  cursor: pointer;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}